* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.dark-mode {
    color: white;
    background-color: #0f0f0f;
}

/* Navigation Bar */

.nav-bar {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    color: white;
    background-color: #0f0f0f;
    padding: 0 16px 0 16px;
    z-index: 10;
}

.menu-bar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.nav-bar i {
    font-size: 22px;
    cursor: pointer;
}

.nav-bar img {
    cursor: pointer;
}

.yt-logo {
    
    width: 123px;
    background-size: contain;
    background-repeat: none;
    margin-left: 10px;
}

.search-container {
    height: auto;
    width: auto;
    display: flex;
    flex-grow: 1;
    max-width: 632px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #121212;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex-grow: 1;
}

.search-input input {
    background-color: #121212;
    height: 24px;
    margin-left: 10px;
    border: none;
    flex-grow: 1;
    color: white;
}

.search-input input:focus {
    outline: none;
}

.search-btn {
    height: 40px;
    width: 64px;
    text-align: center;
    align-content: center;
    background-color: #212121;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mic-icon {
    border: none;
    height: 40px;
    width: 40px;
    background-color: #212121;
    border-radius: 50%;
    color: white;
    margin-left: 20px;
}

.user-container {
    height: auto;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bell {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
}

.profile {
    background-color: #212121;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    align-content: center;

}

.profile i {
    font-size: 20px;
}

/* Glow Effect */

.glow:hover {
    background-color: rgba(255, 255, 255, 0.199);;
}

.glow-dark:hover {
    background-color: rgba(255, 255, 255, 0.122);;
}

/* Main Container */

.main-container {
    min-height: 100vh;
    background-color: #0f0f0f;
    display: flex;
    margin-top: 60px;
    align-items: flex-start;
    margin-top: 60px;
}

/* Side Bar */

.side-bar {
    height: calc(100vh - 60px);
    width: 64px;
    background-color: #0f0f0f;
    text-align: center;
    margin-left: 4px;
    position: sticky;
    top: 60px;
    flex-shrink: 0;
    
}

.side-bar i {
    font-size: 24px;
}

.side-bar span {
    font-size: 10px;
    padding-top: 5px;
}

.side-bar svg {
    height: 24px;
    width: 24px;
    fill: white;
}

.home {
    height: 74px;
    width: 100%;
    padding: 16px 0 14px 0;
    color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.shorts {
    height: 74px;
    width: 100%;
    padding: 16px 0 14px 0;
    color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.subscriptions {
    height: 74px;
    width: 100%;
    padding: 16px 0 14px 0;
    color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.user {
    height: 74px;
    width: 100%;
    padding: 16px 0 14px 0;
    color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

/* Content Area */

.content {
    flex-grow: 1;

}

/* Suggestion Bar */

.suggestion-bar {
    height: 60px;
    background-color: #121212;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 60px;
}

.suggestion {
    height: 30px;
    margin: 0 10px;
    padding: 5px 12px;
    background-color: #212121;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 700;
    align-content: center;
    cursor: pointer;
}

/* Video area */

.video-section {
    margin: 0 16px;
    padding: 24px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    justify-content: center;
}

.video {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
}

.thumbnail {
    background-color: aqua;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 20px;
    cursor: pointer;
}

.title {
    height: 70px;
    padding: 10px;

}



/* Responsive */

@media (min-width: 1300px) {
    .video-section {
        grid-template-columns: repeat(3, 1fr); /* lock to 3 on big screens */
    }
}